.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: red;
  font-size: 0.8rem;
}

.btn {
  opacity: 0.5;
  color: white;
  background-color: black;
  border: 1px solid white;
  cursor: not-allowed;
}

.btn-active {
  font-weight: bold;
  color: white;
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
}
